﻿<div class="row search-bar">
    @using (Ajax.BeginForm("Filter", new AjaxOptions {UpdateTargetId = "ajax-table"}))
    {
        <div class="col-md-2">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Filter Name" name="name">
                    <span class="input-group-addon">
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Filter Workshop" name="workshop">
                    <span class="input-group-addon">
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Filter Brigade" name="brigade">
                    <span class="input-group-addon">
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="number" class="form-control" placeholder="Filter by INN" name="inn">
                    <span class="input-group-addon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" style="height: 33px;" class="btn btn-success">
                <span class="glyphicon glyphicon-filter"></span>
            </button>
        </div>
    }
</div>