﻿@using System.Web.Optimization
@using _07BDCourseWork.Resources
@model IEnumerable<_07BDCourseWork.Models.EmployeeDTO>

@* Sort method get it. Because after filtering model can be various *@
@{ CacheHelper.Set(Model.ToList(), CacheKeys.EmployeeModel); }

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.Name }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.NameDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workshop)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.WorkshopName }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.WorkshopNameDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brigade)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.BrigadeName }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.BrigadeNameDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InnEmployee)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.Inn }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.InnDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workshop.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brigade.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InnEmployee)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InnEmployee }) |
                @Html.ActionLink("Details", "Details", new { id = item.InnEmployee }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InnEmployee })
            </td>
        </tr>
    }
</table>