﻿@using _07BDCourseWork.Resources
@model _07BDCourseWork.ViewModels.EmployeeCreateEdit

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Employee/_LayoutEmployee.cshtml";
}

@if (!string.IsNullOrEmpty((string)ViewBag.Error))
{
    @Html.Raw((string)ViewBag.Error)
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group">
                @Html.LabelFor(model => model.InnEmployee, htmlAttributes: new {@class = "control-label col-md-2 required"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InnEmployee, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.InnEmployee, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdWorkshop, htmlAttributes: new {@class = "control-label col-md-2 required"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdWorkshop, new SelectList(Model.SelectListWorkshop, "ID", "Name"))
                    @Html.ValidationMessageFor(model => model.IdWorkshop, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdBrigade, htmlAttributes: new {@class = "control-label col-md-2 required"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdBrigade, new SelectList(Model.SelectListBrigade, "ID", "Name"))
                    @Html.ValidationMessageFor(model => model.IdBrigade, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2 required"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}