﻿@model _07BDCourseWork.Models.EmployeeDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Employee/_LayoutEmployee.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdWorkshop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdWorkshop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdBrigade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdBrigade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
