﻿@model _07BDCourseWork.Models.EmployeeDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Employee/_LayoutEmployee.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdWorkshop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdWorkshop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdBrigade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdBrigade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InnEmployee }) |
    @Html.ActionLink("Back to List", "Index")
</p>
