﻿@using System.Web.Optimization
@using MvcSiteMapProvider.Web.Html
@using _07BDCourseWork.Resources
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/MainCss");
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body class="index">


    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    Menu
                </button>
                @Html.ActionLink("Reports", "Index", "Report", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Workshops", "Index", "Workshop", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Cars", "Index", "Car", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Brigades", "Index", "Brigade", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Defects", "Index", "Defect", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Spare Parts", "Index", "SparePart", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Employees", "Index", "Employee", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Repairs", "Index", "CarRepair", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                </ul>
            </div>
            <ol class="breadcrumb">
                @Html.MvcSiteMap().SiteMapPath()
            </ol>
        </div>
    </nav>

    @RenderSection("banner", false)

    <div id="mainBody" class="container body-content">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>&copy; @DateTime.Now.Year - Gyrdasov Vladimir</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/Scripts/MainScripts")

</body>