﻿@using (Ajax.BeginForm("Search", new AjaxOptions {UpdateTargetId = "ajax-table"}))
{
    <div class="row search-bar">
        <div class="col-md-11">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search by name" name="name">
                    <span class="input-group-addon">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" style="height: 33px;" class="btn btn-success">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
}

@* Need search in controller and id "search-result in view" *@