﻿@using _07BDCourseWork.Resources
@model IEnumerable<_07BDCourseWork.Models.WorkshopDTO>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name) 
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.Name }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.NameDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>