﻿@model _07BDCourseWork.Models.WorkshopDTO

@{
    ViewBag.Title = "Delete";
    Layout = "_LayoutWorkshop.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="table table-bordered">
        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        if (Model.Employee.Count == 0)
        {
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default"/> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
        else
        {
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" disabled/> |
                @Html.ActionLink("Back to List", "Index")
            </div>
            <div class="txt-error">Workshop have employees. You cant remove it now!</div>
        }
    }
</div>
