﻿@using System.Web.Optimization
@using _07BDCourseWork.Resources
@model IEnumerable<_07BDCourseWork.Models.CarDTO>

@* Sort method get it. Because after filtering model can be various *@
@{ CacheHelper.Set(Model.ToList(), CacheKeys.CarModel); }

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCarcase)
            @Ajax.ActionLink("▼", "Sort", new {sortOrder = SortMethods.IdCarcase}, new AjaxOptions {UpdateTargetId = "ajax-table"})
            @Ajax.ActionLink("▲", "Sort", new {sortOrder = SortMethods.IdCarcaseDesc}, new AjaxOptions {UpdateTargetId = "ajax-table"})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEngine)
            @Ajax.ActionLink("▼", "Sort", new {sortOrder = SortMethods.IdEngine}, new AjaxOptions {UpdateTargetId = "ajax-table"})
            @Ajax.ActionLink("▲", "Sort", new {sortOrder = SortMethods.IdEngineDesc}, new AjaxOptions {UpdateTargetId = "ajax-table"})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
            @Ajax.ActionLink("▼", "Sort", new {sortOrder = SortMethods.Owner}, new AjaxOptions {UpdateTargetId = "ajax-table"})
            @Ajax.ActionLink("▲", "Sort", new {sortOrder = SortMethods.OwnerDesc}, new AjaxOptions {UpdateTargetId = "ajax-table"})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactoryNumber)
            @Ajax.ActionLink("▼", "Sort", new {sortOrder = SortMethods.FactoryNumber}, new AjaxOptions {UpdateTargetId = "ajax-table"})
            @Ajax.ActionLink("▲", "Sort", new {sortOrder = SortMethods.FactoryNumberDesc}, new AjaxOptions {UpdateTargetId = "ajax-table"})
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarcase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEngine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FactoryNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |
                @Html.ActionLink("Details", "Details", new {id = item.ID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ID})
            </td>
        </tr>
    }

</table>