﻿@model _07BDCourseWork.Models.CarDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Car/_LayoutCar.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCarcase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCarcase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEngine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEngine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactoryNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactoryNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
