﻿@model _07BDCourseWork.Models.CarDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Car/_LayoutCar.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCarcase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCarcase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEngine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEngine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactoryNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactoryNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
