﻿@model _07BDCourseWork.Models.DefectDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Defect/_LayoutDefect.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        if (Model.SparePart.Count == 0 && Model.CarRepair.Count == 0)
        {
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
        else
        {
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" disabled/> |
                @Html.ActionLink("Back to List", "Index")
            </div>
            <div class="txt-error">We cant remove it now! Defect have dependencies in Spare parts or Car repairs.</div>
        }
    }
</div>
