﻿@using (Ajax.BeginForm("RunReportCostOfAllRepairForEachCustomer", new AjaxOptions
{
    UpdateTargetId = "report1-table",
    OnBegin = @"SpinnerTable1();",
}))
{
    <div class="container">
        <div class="container padding5">
            Задайте временной отрезок:
        </div>
        <div class="container padding5">
            <div class="col-md-2">
                Минимальная дата:
            </div>
            <div class="col-md-2">
                <input type="date" name="datemin" />
            </div>
        </div>
        <div class="container padding5">
            <div class="col-md-2">
                Максимальная дата:
            </div>
            <div class="col-md-2">
                <input type="date" name="datemax" />
            </div>
        </div>
        <div class="container padding5">
            Задайте параметр сортировки:
        </div>
        <div class="funkyradio">
            <div class="funkyradio-success col-md-4">
                <input type="radio" name="radioSortMethod" id="radio1" value="1" checked/>
                <label for="radio1">По имени заказчика</label>
            </div>
            <div class="funkyradio-success col-md-4">
                <input type="radio" name="radioSortMethod" id="radio2" value="2"/>
                <label for="radio2">По стоимости починки</label>
            </div>
            <div class="funkyradio-success col-md-4">
                <input type="radio" name="radioSortMethod" id="radio3" value="3"/>
                <label for="radio3">По стоимость запчастей</label>
            </div>
            <div class="funkyradio-success col-md-4">
                <input type="radio" name="radioSortMethod" id="radio4" value="4"/>
                <label for="radio4">По суммарной прибыли</label>
            </div>
        </div>
        <div class="container">
        </div>
        <button id="btn-run-report1" type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-play-circle"></span>
            Run
        </button>
        <button id="btn-report1-remove" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>
            Hide report
        </button>

        <div id="report1-table"></div>
    </div>
}


<script>
    $("#btn-report1-remove").click(function () {
        $("#report1-table").hide();
    });
</script>

<script>
    $("#btn-run-report1").click(function () {
        $("#report1-table").show();
    });
</script>

<script>
    var SpinnerTable1 = function() {
        $("#report1-table").html("<img alt=\"loading.gif\" src=\"../Content/light_blue_material_design_loading.gif\" />");
    }
</script>
