﻿@using (Ajax.BeginForm("RunReportProductivityOfPrigades", new AjaxOptions
{
    UpdateTargetId = "report2-table",
    OnBegin = @"SpinnerTable2();",
}))
{<div class="container">
    <div class="container padding5">
        Задайте временной отрезок:
    </div>
    <div class="container padding5">
        <div class="col-md-2">
            Минимальная дата:
        </div>
        <div class="col-md-2">
            <input type="date" name="datemin" />
        </div>
    </div>
     <div class="container padding5">
         <div class="col-md-2">
             Максимальная дата:
         </div>
         <div class="col-md-2">
             <input type="date" name="datemax" />
         </div>
     </div>
     <div class="container padding5">
         Задайте параметр сортировки:
     </div>
     <div class="funkyradio">
         <div class="funkyradio-success col-md-4">
             <input type="radio" name="radioSortMethod" id="radio5" value="1" checked />
             <label for="radio5">По названию бригады</label>
         </div>
         <div class="funkyradio-success col-md-4">
             <input type="radio" name="radioSortMethod" id="radio6" value="2" />
             <label for="radio6">Прибыль от починки</label>
         </div>
         <div class="funkyradio-success col-md-4">
             <input type="radio" name="radioSortMethod" id="radio7" value="3" />
             <label for="radio7">Прибыль с продажи запчастей</label>
         </div>
         <div class="funkyradio-success col-md-4">
             <input type="radio" name="radioSortMethod" id="radio8" value="4" />
             <label for="radio8">По суммарной прибыли</label>
         </div>
     </div>
     <div class="container">
     </div>
    <button id="btn-run-report2" type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-play-circle"></span>
        Run
    </button>
    <button id="btn-report2-remove" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove-circle"></span>
        Hide report
    </button>
    
    <div id="report2-table"></div>
</div>
}

<script>
    $("#btn-report2-remove").click(function () {
        $("#report2-table").hide();
    });
</script>

<script>
    $("#btn-run-report2").click(function () {
        $("#report2-table").show();
    });
</script>

<script>
    var SpinnerTable2 = function() {
        $("#report2-table").html("<img alt=\"loading.gif\" src=\"../Content/light_blue_material_design_loading.gif\" />");
    }
</script>
