﻿<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

@using (Ajax.BeginForm("RunReportDefects", new AjaxOptions
{
    UpdateTargetId = "report3-table",
    OnBegin = @"SpinnerTable3();"
}))
{
    <div class="container">
        <div class="container padding5">
            Задайте параметры:
        </div>
        <div class="container padding5">
            <div class="col-md-2">
                Сортировка дефектов:
            </div>
            <div class="col-md-2">
                <input type="checkbox" checked data-toggle="toggle" data-on="Самые частые" data-off="Самые редкие" data-onstyle="success" data-offstyle="danger" name="toggle">
            </div>
        </div>
        <div class="container padding5">
            <div class="col-md-2">
                Количество записей:
            </div>
            <div class="col-md-2">
                <input type="number" min="1" value="3" name="count">
            </div>
        </div>
        <div class="container padding5">
            <div class="col-md-2">
                Минимальная дата:
            </div>
            <div class="col-md-2">
                <input type="date" name="datemin"/>
            </div>
        </div>
        <div class="container padding5">
            <div class="col-md-2">
                Максимальная дата:
            </div>
            <div class="col-md-2">
                <input type="date" name="datemax"/>
            </div>
        </div>
        <button id="btn-run-report3" type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-play-circle"></span>
            Run
        </button>
        <button id="btn-report3-remove" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>
            Hide report
        </button>

        <div id="report3-table"></div>
    </div>
}

<script>
    $("#btn-report3-remove")
        .click(function() {
            $("#report3-table").hide();
        });
</script>

<script>
    $("#btn-run-report3")
        .click(function() {
            $("#report3-table").show();
        });
</script>

<script>
    var SpinnerTable3 = function() {
        $("#report3-table")
            .html("<img alt=\"loading.gif\" src=\"../Content/light_blue_material_design_loading.gif\" />");
    }
</script>