﻿@model IEnumerable<_07BDCourseWork.ViewModels.RepairCostVM>

<table class="table table-bordered my-report">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefectRepairingCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SparePartCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
    </tr>

    @if (!string.IsNullOrEmpty((string) ViewBag.Error))
    {
        <tr>
            <td colspan="4">@ViewBag.Error</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefectRepairingCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SparePartCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    }
</table>