﻿@model IEnumerable<_07BDCourseWork.ViewModels.DefectsReportVM>

<table class="table table-bordered my-report">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimesApplied)
        </th>
    </tr>
    @if (!string.IsNullOrEmpty((string) ViewBag.Error))
    {
        <tr>
            <td colspan="3">@ViewBag.Error</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimesApplied)
                </td>
            </tr>
        }
    }

</table>