﻿@using System.Web.Optimization

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-data">

    <h2>Reports</h2>

    <div class="container padding5">
        1) Сформировать отчет, расcчитывающий прибыль от ремонтных работ для каждого клиента завершенных в пределах заданной даты (Учитывать как стоимость работы
        , так и стоимость самих запчастей и их количество)
    </div>
    <button id="btn-report-cost-repair" class="btn btn-success">
        <span class="glyphicon glyphicon-cog"></span>
        Compose
    </button>
    
    <div id="ajax-report-cost-repair" class="padding5"></div>

    <br />

    <div class="container padding5">
        2) Сформировать отчет, рассчитывающий производительность труда бригад, выражающийся в суммарной прибыли за заданный промежуток времени
    </div>
    <button id="btn-report-productivity-of-brigades" class="btn btn-success">
        <span class="glyphicon glyphicon-cog"></span>
        Compose
    </button>

    <div id="ajax-report-productivity-of-brigades" class="padding5"></div>
    
    <br />
    
    <div class="container padding5">
        3) Сформировать отчет, показывающий N самых частых/редких неисправностей в пределах заданной даты. Показать среднюю стоимость её починки
    </div>
    <button id="btn-report-defects" class="btn btn-success">
        <span class="glyphicon glyphicon-cog"></span>
        Compose
    </button>

    <div id="ajax-report-defects" class="padding5"></div>

</div>

<script>
    $("#btn-report-cost-repair").click(function () {
        $("#report1-table").show();
    });
</script>

<script>
    $("#btn-report-productivity-of-brigades").click(function () {
        $("#report2-table").show();
    });
</script>

<script>
    $("#btn-report-defects").click(function () {
        $("#report3-table").show();
    });
</script>