﻿@{
    ViewBag.Title = "Auto Repair Service base";
}

@section banner
{
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/Content/auto-parts.png" alt="logo" class="main-page-logo"/>
                    @*<img src="~/Content/repair-icon-png.png" alt="logo" class="main-page-logo" />*@
                    <div class="intro-text">
                        <span class="name">@ViewBag.Title</span>
                        <span class="description">Гырдасов Владимир - Б07.191.2</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
}

<div class="container">
    <div class="jumbotron" contenteditable="true">
        <h2 class="home-title">@ViewBag.Title</h2>
        <p>
             Таблицы:<br>
            ● мастерские (_код мастерской_, наименование, ...)<br>
            ● персонал (_код мастерской_, _ИНН человека_, код бригады, ...)<br>
            ● бригады (_код бригады_, наименование, ...)<br>
            ● ремонт автомобиля (код автомобиля, код неисправности, дата поступления, дата окончания ремонта, код бригады, ...)<br>
            ● неисправности (_код неисправности_, наименование, стоимость работы, ...)<br>
            ● запчасти (код автомобиля, код неисправности, наименование, цена, количество, ...)<br>
            ● автомобили (код автомобиля, номер кузова, номер двигателя, владелец, заводской номер, ...)<br>
            Отчеты:<br>
            ● стоимость ремонта<br>
            ● производительность труда бригад
        </p>
        <p>
            <a class="btn btn-primary btn-large">Learn more</a>
        </p>
    </div>
</div>

<p>
    <div class="container"><img src="~/Content/ER DB2.png" alt="ER diagram.png" /></div>
    

    Требования к базе данных<br>
    <br>
    В базе данных должны присутствовать:<br>
    1.[+] Не менее 6 таблиц<br>
    2.[+] Ограничения: <br>
    DEFAULT (CarRepair DateIn - по умолчанию ставится текущая дата)<br>
    , CHECK ([SparePart table Amount > 0 Price >= 0.01], [Defect table Cost >= 0.01])<br>
    , PRIMARY KEY(+)<br>
    , UNUIQUE(на ER)<br>
    , FOREIGN KEY(+)<br>
    (Недостающие возможные констраинты проверяются на клинте)<br>
    3.[+] Индексы(+)<br>
    4.[+] Проекции (VIEW): по одной таблице, по нескольким таблицам, используя GROUP BY и HAVING,<br>
    5.[+] Триггеры выполняющие каскадные изменения данных в связанных таблицах, либо поддерживающие денормализованные данные (+ Триггеры при удалении автомобиля из базы удаляются зависимые записи о ремонтах
    и примененных запчастях)<br><br>
    

    Требования к клиентскому приложению<br>
    1.[+] Наличие общего интерфейса, позволяющего работать со всеми таблицами и отчетами<br>
    2.[+] При работе с таблицами обеспечивается:<br>
    ● Перемещение по записям<br>
    ● Корректировка записей<br>
    ● Добавление новых записей<br>
    ● Удаление записей<br>
    ● Поиск записей по отдельным полям<br>
    ● Задание фильтра по отдельным полям<br>
    ● Задание сортировки по отдельным полям<br>
    3.[+] Как минимум одна форма должна обеспечивать ввод данных в две таблицы с отношением 1:М (Форма SparePart Create позволяет на месте добавить машину и описание дефетка, если нужных на текущий момент нету)<br>
    4.[+] Наличие не менее 3 отчетов. Отчет:<br>
    ● формируется не менее чем из 2-х таблиц<br>
    ● содержит не менее 1-го уровня группировки,<br>
    ● вычисляемые поля<br>
    ● итоговые данные<br>
    ● перед формированием отчета у пользователя запрашиваются фильтры и параметры сортировки по отдельным полям.

</p>