﻿@using System.Web.Optimization
@using _07BDCourseWork.Resources
@model IEnumerable<_07BDCourseWork.Models.CarRepairDTO>

@* Sort method get it. Because after filtering model can be various *@
@{ CacheHelper.Set(Model.ToList(), CacheKeys.CarRepairModel); }

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car) (Carcase №)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.IdCarcase }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.IdCarcaseDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defect)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.DefectName }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.DefectNameDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateIn)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.DateIn }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.DateInDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOut)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.DateOut }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.DateOutDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brigade)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.BrigadeName }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.BrigadeNameDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car.IdCarcase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defect.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brigade.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>