﻿@using _07BDCourseWork.Resources
@model _07BDCourseWork.ViewModels.CarRepairCreateEdit

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/CarRepair/_layoutCarRepair.cshtml";
}

@if (Model.SelectListBrigade == null || Model.SelectListCar == null || Model.SelectListDefect == null
    || Model.SelectListBrigade.Count == 0 || Model.SelectListCar.Count == 0 || Model.SelectListDefect.Count == 0)
{
    @Html.Raw(Messages.CarRepairCreateNeedCarBrigadeAndDefects)
}
else
{

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Car (carcase №)", htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdCar, new SelectList(Model.SelectListCar, "ID", "IdCarcase"))
                    @Html.ValidationMessageFor(model => model.IdCar, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdDefect, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdDefect, new SelectList(Model.SelectListDefect, "ID", "Name"))
                    @Html.ValidationMessageFor(model => model.IdDefect, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateIn, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateIn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateIn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOut, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOut, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateOut, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdBrigade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdBrigade, new SelectList(Model.SelectListBrigade, "ID", "Name"))
                    @Html.ValidationMessageFor(model => model.IdBrigade, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

}