﻿@model _07BDCourseWork.Models.CarRepairDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/CarRepair/_layoutCarRepair.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDefect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDefect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdBrigade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdBrigade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
