﻿@model IEnumerable<_07BDCourseWork.Models.CarRepairDTO>

@{
    Layout = "~/Views/CarRepair/_layoutCarRepair.cshtml";
}

<div class="btn-group" role="group">
    <button type="button" class="btn btn-default btn-with-anchor">@Html.ActionLink("Create New", "Create", null, new { @class = "anchor-in-button" })</button>
</div>

@Html.Partial("_PartialSearchBar", Model)

<div id="ajax-table">
    @Html.Partial("_Table", Model)
</div>

