﻿@model _07BDCourseWork.ViewModels.SparePartCreateEdit

<div class="form-group">
    @Html.Label("New defect Name:", htmlAttributes: new {@class = "control-label col-md-2 required"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Defect.Name, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Defect.Name, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.Label("New defect cost:", htmlAttributes: new {@class = "control-label col-md-2 required"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Defect.Cost, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Defect.Cost, "", new {@class = "text-danger"})
    </div>
</div>