﻿@model _07BDCourseWork.ViewModels.SparePartCreateEdit

<div class="form-group">
    @Html.Label("New car carcase №:", htmlAttributes: new {@class = "control-label col-md-2 required"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Car.IdCarcase, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Car.IdCarcase, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.Label("New car engine №:", htmlAttributes: new {@class = "control-label col-md-2 required"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Car.IdEngine, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Car.IdEngine, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.Label("Owner of new car", htmlAttributes: new {@class = "control-label col-md-2 required"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Car.Owner, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Car.Owner, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.Label("New car factory №", htmlAttributes: new {@class = "control-label col-md-2 required"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Car.FactoryNumber, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Car.FactoryNumber, "", new {@class = "text-danger"})
    </div>
</div>