﻿<script>
    function updateTextMin(val) {
        document.getElementById('textMin').innerHTML = "Min price: " + val;
    }

    function updateTextMax(val) {
        document.getElementById('textMax').innerHTML = "Max price: " + val;
    }
</script>

<div class="row search-bar">
    @using (Ajax.BeginForm("Filter", new AjaxOptions {UpdateTargetId = "ajax-table"}))
    {
        <div class="col-md-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="number" class="form-control" placeholder="Filter Carcase №" name="carcase">
                    <span class="input-group-addon">
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Filter Name" name="name">
                    <span class="input-group-addon">
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Filter Defect" name="defect">
                    <span class="input-group-addon">
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="range" min="@ViewBag.Min" max="@ViewBag.Max" value="@ViewBag.Min" onchange="updateTextMin(this.value);" class="form-control" placeholder="Filter min price &#8804;" name="mincost">
                    <span id="textMin">
                            Min price: @ViewBag.Min
                        </span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="range" min="@ViewBag.Min" max="@ViewBag.Max" value="@ViewBag.Max" onchange="updateTextMax(this.value);" class="form-control" placeholder="Filter max price &#8805;" name="maxcost">
                    <span id="textMax">
                            Max price: @ViewBag.Max
                        </span>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" style="height: 33px;" class="btn btn-success">
                <span class="glyphicon glyphicon-filter"></span>
            </button>
        </div>
    }
</div>