﻿@using _07BDCourseWork.Resources
@model IEnumerable<_07BDCourseWork.Models.SparePartDTO>

@* Sort method get it. Because after filtering model can be various *@
@{ CacheHelper.Set(Model.ToList(), CacheKeys.SparePartModel); }


<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car) (Carcase №)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.IdCarcase }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.IdCarcaseDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.Name }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.NameDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defect)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.DefectName }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.DefectNameDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.Price }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.PriceDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
            @Ajax.ActionLink("▼", "Sort", new { sortOrder = SortMethods.Amount }, new AjaxOptions { UpdateTargetId = "ajax-table" })
            @Ajax.ActionLink("▲", "Sort", new { sortOrder = SortMethods.AmountDesc }, new AjaxOptions { UpdateTargetId = "ajax-table" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car.IdCarcase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defect.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { idCar = item.IdCar, idDefect = item.IdDefect }) |
                @Html.ActionLink("Details", "Details", new { idCar = item.IdCar, idDefect = item.IdDefect }) |
                @Html.ActionLink("Delete", "Delete", new { idCar = item.IdCar, idDefect = item.IdDefect })
            </td>
        </tr>
    }
</table>
