﻿@using System.Web.Optimization
@using _07BDCourseWork.Resources
@model _07BDCourseWork.ViewModels.SparePartCreateEdit
@Scripts.Render("~/Scripts/MainScripts")

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/SparePart/_LayoutSparePart.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div id="create-car-area">
            <div class="form-group">
                @Html.Label("Car (carcase №)", htmlAttributes: new {@class = "control-label col-md-2 required"})
                <div class="col-md-10">
                    @if (Model.SelectListCar != null && Model.SelectListCar.Count != 0)
                    {
                        @Html.DropDownListFor(model => model.IdCar, new SelectList(Model.SelectListCar, "ID", "IdCarcase"))
                        @Html.ValidationMessageFor(model => model.IdCar, "", new {@class = "text-danger"})
                    }
                    <a id="create-car-btn" class="anchor-as-btn">Create new car!</a>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $('#create-car-btn')
                            .click(function() {
                                $.ajax({
                                        type: "GET",
                                        url: "/SparePart/CreateCar",
                                        beforeSend: function () {
                                            $("#create-car-area").html("<img alt=\"loading.gif\" src=\"../Content/light_blue_material_design_loading.gif\" />");
                                        }
                                    })
                                    .success(function(responseData) {
                                        $('#create-car-area').html(responseData);
                                    });
                            });
                    });
                </script>
            </div>
        </div>

        <div id="create-defect-area">
            <div class="form-group">
                @Html.LabelFor(model => model.Defect, htmlAttributes: new {@class = "control-label col-md-2 required"})
                <div class="col-md-10">
                    @if (Model.SelectListDefect != null && Model.SelectListDefect.Count != 0)
                    {
                        @Html.DropDownListFor(model => model.IdDefect, new SelectList(Model.SelectListDefect, "ID", "Name"))
                        @Html.ValidationMessageFor(model => model.IdDefect, "", new {@class = "text-danger"})
                    }
                    <a id="create-defect-btn" class="anchor-as-btn">Create new defect description!</a>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $('#create-defect-btn')
                            .click(function() {
                                $.ajax({
                                        type: "GET",
                                        url: "/SparePart/CreateDefect",
                                        beforeSend: function () {
                                            $("#create-defect-area").html("<img alt=\"loading.gif\" src=\"../Content/light_blue_material_design_loading.gif\" />");
                                        }
                                    })
                                    .success(function(responseData) {
                                        $('#create-defect-area').html(responseData);
                                    });
                            });
                    });
                </script>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2 required"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new {@class = "control-label col-md-2 required"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Price, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new {@class = "control-label col-md-2 required"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>