﻿@model _07BDCourseWork.Models.SparePartDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/SparePart/_LayoutSparePart.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDefect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDefect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
