﻿@model _07BDCourseWork.Models.SparePartDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/SparePart/_LayoutSparePart.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDefect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDefect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { idCar = Model.IdCar, idDefect = Model.IdDefect }) |
    @Html.ActionLink("Back to List", "Index")
</p>
