﻿.main-data {
    min-height: 100vh;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.table-photo-frame-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

p { font-size: 20px; }

a:hover {
    color: #18BC9C;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

html {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

header {
    text-align: center;
    background: #18BC9C;
    color: white;
}

header .intro-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

header .intro-text .description {
    font-size: 1.25em;
    font-weight: 300;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name { font-size: 4.75em; }

    header .intro-text .description { font-size: 1.75em; }
}

.navbar-custom {
    background: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.navbar-custom .navbar-brand { color: white; }

.navbar-custom .navbar-brand:hover { color: white; }

.navbar-custom .navbar-nav { letter-spacing: 1px; }

.navbar-custom .navbar-nav li a { color: white; }

.navbar-custom .navbar-nav li a:hover {
    color: #18BC9C;
    outline: none;
}

.navbar-custom .navbar-nav li a:focus { color: white; }

.navbar-custom .navbar-toggle {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
}

.navbar-custom .navbar-toggle:hover {
    background-color: #18BC9C;
    color: white;
    border-color: #18BC9C;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 15px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

    .navbar-custom .navbar-brand {
        font-size: 1.3em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar-custom.affix { padding: 1px 0; }

    .navbar-custom.affix .navbar-brand { font-size: 1em; }
}

form .row:first-child .floating-label-form-group { border-top: 1px solid #eeeeee; }

footer { color: white; }

footer h3 { margin-bottom: 30px; }

footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50;
}

footer .footer-col { margin-bottom: 50px; }

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-group { margin-bottom: 15px; }

td {
    text-align: center;
    vertical-align: middle;
}


.btn-with-anchor { padding: 0; }

.anchor-in-button {
    width: 150px;
    /*height: 45px;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.25em;
    border: 1px solid white;
    border-radius: 5px;
}

.table tbody > tr > td { vertical-align: middle; }

.required:after {
    content: "*";
    font-weight: bold;
    color: red;
}

.centralize-content {
    text-align: center;
    vertical-align: middle;
}

.container-padding-10 { padding: 10px; }

.stylish-input-group .input-group-addon { background: white !important; }

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.search-bar { margin-bottom: 15px; }

.main-page-logo {
    max-height: 500px;
}

.anchor-as-btn {
    background-color: green; color: white; padding: 2px; border-radius: 5px;
}

.anchor-as-btn:hover {
    color: white;
}

.txt-error {
    color: red;
}

.padding5 {
    padding: 5px;
}

.my-report {
    margin-top: 10px;
    border-color: silver;
    border-radius: 5px;
    border-width: 3px;
}


.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
